*{
    margin: 0;
    padding: 0;     
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000;
    color: #FFF;
    min-height: 100vh;        
    display: flex;
    flex-direction: column;
}

.container {
  max-width: 1200px;   /* límite de ancho */
  margin: 0 auto;      /* centra horizontalmente */
  padding: 20px;       /* espacio interno */
} 

h1, h2 {
  color: #00ffcc;   /* Contraste llamativo */
}

a {
  color: #00ffcc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}